@mixin progressBar {
  .dataRow {
    position: relative;
  }

  .barContainer {
    padding: 0;
  }
}

.orderBookContainer {
  display: flex;
}
.buyTable {
  th {
    width: 130px;
    font-size: 18px;
  }
  td {
    width: 130px;
    text-align: center;
  }
  td.rightAlign {
    text-align: right;
  }
  th.rightAlign {
    text-align: right;
  }
  @include progressBar;
  .bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: rgb(160, 255, 160);
    opacity: 0.3;
  }
}

.sellTable {
  th {
    width: 130px;
    font-size: 18px;
  }
  td {
    width: 130px;
    text-align: center;
  }
  td.rightAlign {
    text-align: right;
  }
  th.rightAlign {
    text-align: right;
  }
  @include progressBar;
  .bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(247, 110, 110);
    opacity: 0.3;
  }
}
