@mixin progressBar {
  .dataRow {
    position: relative;
  }
}

$sell: rgb(247, 110, 110);
$buy: rgb(160, 255, 160);

.orderBookContainer {
  display: flex;
}
.buyTable {
  th {
    width: 130px;
    font-size: 18px;
  }
  td {
    width: 130px;
    text-align: center;
  }
  td.rightAlign {
    text-align: right;
  }
  th.rightAlign {
    text-align: right;
  }
  @include progressBar;
  .bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: $buy;
    opacity: 0.3;
    transition: width 0.3s ease;
  }
}

.sellTable {
  th {
    width: 130px;
    font-size: 18px;
  }
  td {
    width: 130px;
    text-align: center;
  }
  td.rightAlign {
    text-align: right;
  }
  th.rightAlign {
    text-align: right;
  }
  @include progressBar;
  .bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: $sell;
    opacity: 0.3;
    transition: width 0.5s ease;
  }
}
